
/* Menu */

.menu .bar.bar-header.expanded {
  background-image: url('../img/material-graphite.jpg');
  background-size: 120%;
  background-position: 0%;
  transition: all .5s ease-in-out;
}

.menu.menu-left * {
  font-weight: bold;
  /*color: #444444;*/
}

.item-radio input:checked ~ .item-content {
  background: transparent;
}

.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}

.item.item-radio .radio-icon {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
  opacity: 0;
  transform: scale(1.6);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.directions.button-bar {
  margin: 0 auto;
  width: 33.333%;
}

.directions.button-bar button {
  line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
  transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
  transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
  transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
  transform: rotate(45deg);
}

/*#modal {
  background-color: #ef4e3a;
  border-radius: 100%;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 50%;
  bottom: 0;
  opacity: 0;
  width: 700px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.expand #modal {
  background-color: #DBDBDB;
  border-radius: 0;
  border-top: solid 4px #ef4e3a;
  opacity: 1;
  z-index: 9;
}*/

.popover {
  left: initial !important;
  right: 16px !important;
  top: 56px !important;
}

/*Custom css*/

/*comman css*/
.platform-android .bar .title {
  font-size: 17px;
  line-height: 44px;
}

.DividerBorder{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.ViewBackground{
  background-color: #DDDDDD;
}
/*side menu  css*/

.ProfilePic{
  margin-top: 16px !important;
}

.ProfileName{
  color: white;font-size: 20px !important;padding-top: 35px !important;
}

.ProfileDept{
  color: #e0e0e0 !important;
}

.icon-size{
  font-size: 18px;color:#424242;
}

/*css for dashborad page*/

#pw-event ion-content {
  margin-top: 48px;
}

.tab-item.activated{
 height:calc(100% + 0px) ;
}

/*#pw-event .scroll{
  height: auto;
}

#pw-event .slider {
  height: 100%; 
}*/

ion-slide {
  background-color: #DDDDDD;
}

.Cardlink{
  float: right;margin-right: -22px;margin-top: -8px;font-size: 13px;
}

.QuickMenuTD-Top{
  text-align: center;padding-top: 10px;padding-bottom: 10px;border-right: 1px solid rgba(0, 0, 0, 0.12);width: 33%;color: #666 !important;
}

.QuickMenuTD-Botm{  
  text-align: center;padding-top: 10px;padding-bottom: 10px;border-right: 1px solid rgba(0, 0, 0, 0.12);border-top: 1px solid rgba(0, 0, 0, 0.12);width:33%;color: #666 !important;
}

.tab-item{
  display: table-cell;
}

/*item avatar custome style*/

.item.item-avatar {
  min-height: 88px !important;
  padding-left: 70px !important;
  box-shadow: none !important;
}

/*.item-avatar .item-content .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-image, .item-avatar-left .item-content .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-image, .item-avatar-left > img:first-child, .item-avatar > img:first-child {*/
.item-avatar .item-content{
  border-radius: 50%;
  left: 15px;
  max-height: 40px;
  max-width: 40px;
  box-shadow: none !important;
}
/*institute custom icons css*/
/*.tabs .tab-item .icon.Gurdian {
  background-image: url("img/icons/Aboutus.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30px;
  background-size:contain;
  margin-bottom: 1px
} */  
/*institute css*/
@media screen and (min-width: 320px) and (max-width:599px) {
  .hero {
  background-size: cover;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #fff;
  height: 200px;
  position: relative;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width:1900px) {
.hero {
  background-size: cover;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #fff;
  height: 300px;
  position: relative;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  width: 100%;
  }
}
.Bg-image{
  background-image: url('http://www.designicon-arch.com/wp-content/uploads/129.jpg') !important;
}
