<ion-view view-title="Home" class="ViewBackground">
  <ion-content hide-nav-bar="true" on-swipe-left="goForward()" on-swipe-down="refresh()" class="">
    <div class="card list">
      <div class="list">
        <span class="item item-avatar item-text-wrap" href="#">
          <img src="img/material1.jpg">
          <h2>Ravi raj</h2>
          <p class="">Bachelor of Computer Application  BCA - A</p>
        </span>
      </div>
    </div>
    <div class="card">
      <div class="list">
        <div class="item item-text-wrap DividerBorder">
          <h2>Personal Details</h2>
        </div>
        <span class="item item-avatar" href="#">
          <img src="img/material2.jpg">
          <h2>03.09.2017</h2>
          <p>Date of Birth</p>
        </span>
        <span class="item item-avatar" href="#">
          <img src="img/material3.jpg">
          <h2>Male</h2>
          <p>Gender</p>
        </span>
        <span class="item item-avatar" href="#">
          <img src="img/material4.jpg">
          <h2>India</h2>
          <p>Nationality</p>
        </span>
        <span class="item item-avatar" href="#">
          <img src="img/material1.jpg">
          <h2>Tamil</h2>
          <p>Mother Tongue</p>
        </span>
      </div>
    </div>
    <div class="card">
      <div class="list">
        <div class="item item-wrap DividerBorder">
          <h2>Contact info</h2>
        </div>
        <span class="item item-avatar" href="#">
          <img src="img/material2.jpg">
          <h2>No:128,Louis Pat Street,Newyork</h2>
          <h2>Cambridge - 606005, USA</h2>
          <p>Address</p>
        </span>
        <span class="item item-avatar" href="#">
          <img src="img/material3.jpg">
          <h2>+91 9543295432</h2>
          <p>Phone</p>
        </span>
        <span class="item item-avatar" href="#">
          <img src="img/material4.jpg">
          <h2>Arunvijay@gmail.com</h2>
          <p>Email</p>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>

