<ion-view class="bgColor">
  <ion-content class="has-header1" on-drag="onDrag()">
   <div style="background-image: url('img/profile-bg.jpg');" class="hero ">
      <div class="content">
        <div style="background-image: url('img/daenerys.jpg');" class="avatar"></div>
        <h3><a class="light">Vijay raj</a></h3>
        <h4>BE - Computer Science</h4>
      </div>
    </div>
    <div class="card">
      <ion-list>
        <div class="item divider"><h2>Personal Details</h2></div>
        <ion-item class="item-avatar">
          <img src="img/icons/Birthday.svg" class="imgIcon" style="height: 36px;">
          <h2>03-12-1993</h2>
          <p>Date of Birth</p>
        </ion-item>
        <ion-item class="item-avatar">
          <img src="img/icons/Father.svg" class="imgIcon">
          <h2>Male</h2>
          <p>Gender</p>
        </ion-item>
        <ion-item class="item-avatar">
          <img src="img/icons/Nationality.svg" class="imgIcon">
          <h2>Indian</h2>
          <p>Nationality</p>
        </ion-item>
        <ion-item class="item-avatar">
          <img src="img/icons/language.svg" class="imgIcon">
          <h2>Tamil</h2>
          <p>Mother Tongue</p>
        </ion-item>
      </ion-list>
    </div>
    <div class="list card">
      <div class="item divider"><h2>Contact Details</h2></div>
      <a class="item item-avatar" href="geo:11.9342164,79.8055147">
        <img src="img/icons/Location.svg" class="imgIcon">
        <h2>No:128,Louis Pat Street,</h2>
        <h2>Cambridge - 606005, USA</h2>
        <p>Address</p>
      </a>
      <a class="item item-avatar" href="tel:+91 987 654 3210 ">
        <img src="img/icons/Phone.svg" class="imgIcon" style="height: 33px">
        <h2>+91 9876543210</h2>
        <p>Phone</p>
      </a>
      <a class="item item-avatar" href="mailto:Tamil@gmail.com">
        <img src="img/icons/Email.svg" class="imgIcon" style="height: 32px">
        <h2>Tamil@gmail.com</h2>
        <p>Email</p>
      </a>
    </div>
  </ion-content>
</ion-view>