
<ion-view view-title="Home" class="pageBackground">
  <ion-content hide-nav-bar="true" on-swipe-right="goBack()" on-swipe-left="goforward()" class="">
    <div class="card">
      <div class="list">
          <div class="item item-text-wrap">
            <h2>Social Profile</h2>
          </div>
          <span class="item" href="#">
            <div class="row">
              <div class="col col-25 Socialons">
              <img src="img/icons/facebook.png" style="width: 40px;height:40px"> 
              <p>Face book</p>
              </div>
              <div class="col col-25 Socialons">
              <img src="img/icons/Gmail.png" style="width: 40px; height:40px"> 
              <p>Gmail</p>
              </div>
              <div class="col col-25 Socialons">
              <img src="img/icons/LinkedIn.png" style="width: 40px; height:40px">
              <p>Likedin</p> 
              </div>
              <div class="col col-25 Socialons">
              <img src="img/icons/WhatsApp.png" style="width: 40px; height:40px">
              <p>Whats up</p> 
              </div>
            </div>
            
          </span>
      </div>
    </div>
    <div class="card">
      <div class="list">
        <div class="item item-wrap">
          <h2>Siblings</h2>
        </div>
        <span class="item item-avatar" href="#">
          <img src="img/icons/slibings.png">
          <h2>Brother</h2>
          <p>Sibling</p>
        </span>
        <span class="item item-avatar" href="#">
          <img src="img/icons/slibings.png">
          <h2>Sister</h2>
          <p>Sibling</p>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>

