<ion-view class="bgColor">
  <ion-content class="has-header" on-drag="onDrag()">
    <div class="list card">
      <div class="item divider"><h2>Socail Media</h2></div>
      <div class="row">
        <div class="col">
          <a href="https://www.facebook.com/rubycampussoftware" ng-click="loading()"><img src="img/icons/facebook.ico" class="SocialIcons"></a>
        </div>
        <div class="col">
          <a href="https://plus.google.com/106635197608643880834" ng-click="loading()"><img src="img/icons/google.ico" class="SocialIcons"></a> 
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/showcase/13246290/" ng-click="loading()"><img src="img/icons/1493143971_linkedin.ico" class="SocialIcons"></a>
        </div>
      </div>
      <br>
    </div>
    <div class="card">
      <ion-list>
        <div class="item divider"><h2>Slibings Details</h2></div>
        <ion-item class="item-avatar">
          <img src="img/icons/Name.svg" class="imgIcon">
          <h2>Abi</h2>
          <p>Name</p>
        </ion-item>
        <ion-item class="item-avatar">
          <img src="img/icons/Name.svg" class="imgIcon">
          <h2>Jeeva</h2>
          <p>Name</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>