<ion-view style="background-color: #DFDFDF">
  <style type="text/css">
    .tabs-striped .tabs{
      border:none;
    }
  </style>
  <ion-content></ion-content>
  <ion-tabs class="tabs-bottom tabs-dark tabs-icon-only tabs-striped">
    <ion-tab title="Home" icon="ion-home" ui-sref="app.Dashboard.Home">
      <!-- <div ng-include="'templates/student/Home.html'"></div> -->
      <ion-nav-view name="Home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Notifications" icon="ion-android-notifications" ui-sref="app.Dashboard.Notification">
      <!-- <div ng-include="'templates/student/Notification.html'"></div> -->
      <ion-nav-view name="Notification"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Message" icon="ion-email" ui-sref="app.Dashboard.Message">
      <!-- <div ng-include="'templates/student/Message.html'"></div> -->
      <ion-nav-view name="Message"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>