<ion-view>
  <ion-content on-swipe-right="onSwipeRight()">
    <div class="list">
      <div class="item item-divider">
        New Messages
      </div>
      <a class="item item-avatar">
          <img src="img/material1.jpg">
          <span class="badge badge-balanced">5</span>
          <h2>Material</h2>
          <p>Sheets of paper</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material2.jpg">
          <span class="badge badge-balanced">3</span>
          <h2>Motion</h2>
          <p>Accent and bring attention</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material3.jpg">
          <span class="badge badge-balanced">1</span>
          <h2>Ink</h2>
          <p>Fluidity</p>s
      </a>
      <div class="item item-divider">
        Older 
      </div>
      <a class="item item-avatar">
          <img src="img/material1.jpg">
          <h2>Material</h2>
          <p>Sheets of paper</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material2.jpg">
          <h2>Motion</h2>
          <p>Accent and bring attention</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material3.jpg">
          <h2>Ink</h2>
          <p>Fluidity</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material1.jpg">
          <h2>Material</h2>
          <p>Sheets of paper</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material2.jpg">
          <h2>Motion</h2>
          <p>Accent and bring attention</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material3.jpg">
          <h2>Ink</h2>
          <p>Fluidity</p>
      </a>
    </div>
  </ion-content>
</ion-view>