<ion-view class="bgColor">
  <ion-content on-drag="onDrag()">
    <div class="card">
  		<ion-list>
  			<div class="item divider"><h2>Mother Details</h2></div>
  			<ion-item class="item-avatar">
  				<img src="img/icons/Name.svg" class="imgIcon">
	        <h2>Selvi</h2>
	        <p>Name</p>
  			</ion-item>
  			<ion-item class="item-avatar">
  				<img src="img/icons/job.svg" class="imgIcon">
	        <h2>Home Maker</h2>
	        <p>Occpuation</p>
  			</ion-item>
  			<ion-item class="item-avatar">
  				<img src="img/icons/Income.svg" class="imgIcon">
	        <h2>- Nil -</h2>
	        <p>Income</p>
  			</ion-item>
  		</ion-list>
  	</div>
    <div class="list card">
      <div class="item divider"><h2>Contact Details</h2></div>
      <a class="item item-avatar" href="geo:11.9342164,79.8055147">
        <img src="img/icons/Location.svg" class="imgIcon">
        <h2>No:128,Louis Pat Street,</h2>
        <h2>Cambridge - 606005, USA</h2>
        <p>Address</p>
      </a>
      <a class="item item-avatar" href="tel:+91 987 654 3210 ">
        <img src="img/icons/Phone.svg" class="imgIcon" style="height: 33px">
        <h2>+91 9876543210</h2>
        <p>Phone</p>
      </a>
      <a class="item item-avatar" href="mailto:Selvi@gmail.com">
        <img src="img/icons/Email.svg" class="imgIcon" style="height: 32px">
        <h2>Selvi@gmail.com</h2>
        <p>Email</p>
      </a>
    </div>
    <br>
    <br>
  </ion-content>
</ion-view>
