
<ion-view view-title="Home" class="pageBackground">
  <ion-content hide-nav-bar="true" class="" >
    <p class="cardpadHeader"></p>
    <div class="card">
      <div class="list">
          <div class="item item-text-wrap">
            <h2>Personal Details</h2>
          </div>
          <span class="item item-avatar" href="#">
            <img src="img/icons/Name.png">
            <h2>Selvi</h2>
            <p>Mother Name</p>
          </span>
          <span class="item item-avatar" href="#">
            <img src="img/icons/Job.png">
            <h2>Home Maker</h2>
            <p>Occupation</p>
          </span>
          <span class="item item-avatar" href="#">
            <img src="img/icons/income.png">
            <h2>-Nil-</h2>
            <p>Income</p>
          </span>
      </div>
    </div>
    <div class="card">
      <div class="list">
        <div class="item item-wrap">
          <h2>Contact info</h2>
        </div>
        <span class="item item-avatar" href="#">
          <img src="img/icons/Address.png">
          <h2>No:128,Louis Pat Street,Newyork</h2>
          <h2>Cambridge - 606005, USA</h2>
          <p>Address</p>
        </span>
        <span class="item item-avatar" href="#">
          <img src="img/icons/Phone.png">
          <h2>+91 9543295432</h2>
          <p>Phone</p>
        </span>
        <span class="item item-avatar" href="#">
          <img src="img/icons/Email.png">
          <h2>Selvi@gmail.com</h2>
          <p>Email</p>
        </span>
      </div>
    </div>
    <p class="cardpadFooter"></p>
  </ion-content>  
</ion-view>

