<ion-view >
  <ion-content overflow-scroll="true" edge-drag-threshold="true">
    <div class="list">
      <div class="item item-divider">
        New
      </div>
      <a class="item item-avatar AvatarItemClass">
          <img src="img/material1.jpg">
          <h2>Material</h2>
          <p>Sheets of paper</p>
      </a>
      <a class="item item-avatar AvatarItemClass">
          <img src="img/material2.jpg">
          <h2>Motion</h2>
          <p>Accent and bring attention</p>
      </a>
      <a class="item item-avatar AvatarItemClass">
          <img src="img/material3.jpg">
          <h2>Ink</h2>
          <p>Fluidity</p>
      </a>
      <div class="item item-divider">
        Old
      </div>
      <a class="item item-avatar">
          <img src="img/material1.jpg">
          <h2>Material</h2>
          <p>Sheets of paper</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material2.jpg">
          <h2>Motion</h2>
          <p>Accent and bring attention</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material3.jpg">
          <h2>Ink</h2>
          <p>Fluidity</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material1.jpg">
          <h2>Material</h2>
          <p>Sheets of paper</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material2.jpg">
          <h2>Motion</h2>
          <p>Accent and bring attention</p>
      </a>
      <a class="item item-avatar">
          <img src="img/material3.jpg">
          <h2>Ink</h2>
          <p>Fluidity</p>
      </a>
    </div>
    <br>
  </ion-content>
</ion-view>