  <ion-view view-title="Home" class="pageBackground">
      <ion-tabs class="tabs-positive tabs-icon-top tabs-color-active-white" delegate-handle="myhandle"  on-swipe-right="goAbout()" on-swipe-left="goAdditional()">
        <ion-tab icon="Father" title="Father" ui-sref="Profile.Parents.FatherDetails">
         <ion-nav-view name="Father-Details"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mother" icon="Mother" ui-sref="Profile.Parents.MotherDetails">
         <ion-nav-view name="Mother-Details"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Guardian" icon="Gurdian" ui-sref="Profile.Parents.GaurdianDetails">
         <ion-nav-view name="Gaurdian-Details"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
  </ion-view>