<ion-view>
  <style type="text/css">
    .barshadow{
      box-shadow: none;
    }
  </style>
  <ion-tabs class="tabs-striped tabs-assertive tabs-top tabs-color-light">
    <ion-tab title="FatherDetail" ui-sref="Profile.Parents.Father">
      <ion-nav-view name="Father-Detail"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mother" ui-sref="Profile.Parents.Mother">
      <ion-nav-view name="Mother-Detail"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Guardian" ui-sref="Profile.Parents.Guardian">
      <ion-nav-view name="Guardian-Detail"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
