<ion-view class="pageBackground">
  <ion-content  on-swipe-right="goBack()" on-swipe-left="goforward()" class="" >
  <div class="card">
    <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label labelClass">Bank Name</span>
      <input type="text" placeholder="Enter Bank Name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label labelClass">Branch Name</span>
      <input type="text" placeholder="Enter Branch Name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label labelClass">Enter Account Number</span>
      <input type="number" placeholder="Enter Account Number">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">Select Cart Type</div>
      <select>
        <option>Visa</option>
        <option selected>Master</option>
      </select>
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label labelClass">Amount</span>
      <input type="number" placeholder="Enter Amount">
    </label>
    <label class="item">
       <center> 
       <button class="button button-small button-positive btnclass">Pay Now</button>
       </center>
     </label>
</div>
</div>
  </ion-content>
</ion-view>
