<ion-view>
    <!-- <ion-content overflow-scroll=false scroll='false'> -->
  <ion-content scroll='false' style="background-color: #DFDFDF">
    <style type="text/css">
      .scroll-content{
        margin-top: -45px ;
      }
      .item.item-avatar {
        box-shadow: none !important;
        min-height: 62px !important;
        padding-left: 65px !important;
      }
      .inst-Title{
        padding-top: 6px ;
      }
      .inst-ContentImg{
        overflow: visible;
        white-space: normal;
        padding: 0px 20px 0px 20px;
      }
      .p-text{
        color: #666;
        text-align: justify;
      }
      .QuickMenuTD-Top {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: 0px;
        padding-top: 10px;
        text-align: center;
        width: 33%;
        opacity: 1 ;
      }
/*      .inst-CustomContentHeight{
        height: 750px ;
      }*/
      .main-bg-color{
        background-color: #DFDFDF;
      }
      .btnStyle{
        font-size: 12px;
        margin-right: -9px; 
      }
      .GalleryImg{
        width: 100%;
        height: 100%;
        box-shadow: none !important;
      }
    </style>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/icons/Aboutus.svg" style="box-shadow: none;">
        <h2 class="inst-Title">ABOUT US</h2>
      </div>
      <div class="inst-ContentImg">
        <p class="p-text">
          Ruby Campus was established with the aim of providing quality higher education  on par with international standards. It persistently seeks and adopts innovative
        </p>
      </div>
      <div class="">
        <button class="button button-small icon-right flat  icon ion-ios-arrow-forward pull-right text-white"> More</button>
      </div>
      <!-- <div class="item item-divider">
        <button ui-sref="app.Profile.About" class="button Cardlink button-clear button-dark">More <i class="ion-ios-arrow-forward"></i> </button>
      </div> -->
    </div>
    <div class="list card">
      <div class="item DividerBorder">
        <h3>Quick Menus</h3>
      </div>
      <table class="tab" style="width:100%">
        <tbody>
          <tr>
            <td class="QuickMenuTD-Top Table-TD tab-item">
              <center><img src="img/icons/Coures.svg" width="40px" height="38px" 
              style="box-shadow: none;">
              <p>Coures</p>
              </center>
            </td>
            <td class="QuickMenuTD-Top Table-TD tab-item">
              <center><img src='img/icons/Admission.svg' width="35px" height="35px" 
              style="box-shadow: none;">
              <p>Admission</p>
              </center>
            </td>
            <td class="QuickMenuTD-Top Table-TD tab-item">
              <center><img src='img/icons/Career.svg' width="40px" height="40px" 
              style="box-shadow: none;">
              <p>Career</p>
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>
