<ion-view>
    <!-- <ion-content overflow-scroll=false scroll='false'> -->
  <ion-content scroll='false' style="background-color: #DFDFDF">
    <style type="text/css">
/*      .scroll-content{
        margin-top: -45px ;
      }*/
      .item.item-avatar {
        box-shadow: none !important;
        min-height: 62px !important;
        padding-left: 65px !important;
      }
      .inst-Title{
        padding-top: 6px ;
      }
      .inst-ContentImg{
        overflow: visible;
        white-space: normal;
        padding: 0px 20px 0px 20px;
      }
      .p-text{
        color: #666;
        text-align: justify;
      }
      .main-bg-color{
        background-color: #DFDFDF;
      }
      /*css*/
      /*.list .item.item-accordion {
        line-height: 38px;
        padding-left: 40px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;
      }

      .list .item.item-accordion.ng-hide {
        line-height: 0px;
      }

      .list .item.item-accordion.ng-hide-add,
      .list .item.item-accordion.ng-hide-remove {
        display: block !important;
      }*/
      .sub-item {
        padding-left: 20px;
      }
      .item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
        background-color: rgba(0, 0, 0, 0.09);
      }
      .btnStyle{
        font-size: 12px;
        margin-right: -9px;
        letter-spacing: 0.3px;
      }
    </style>
    <div class="card">
      <ion-list>
        <div class="item item-avatar">
          <img src="http://www.gobaker.com/Websites/gobaker/images/Icons/Icon-Education.png" style="box-shadow: none;">
          <h2 class="inst-Title">Courses</h2>
        </div>
        <div ng-repeat="group in groups">
          <ion-item class="item-avatar item-icon-right" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
            <img ng-src="{{group.iconURL}}">
            <div class="item-text-center item-text-wrap">{{group.Deptname}}</div>
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
          </ion-item>
          <ion-item class="item-accordion" ng-repeat="item in group.items" ng-click="toggleSubGroup(item)" ng-show="isGroupShown(group)">
            <div class="item-text-center item-text-wrap">{{item.courseName}}</div>
          </ion-item>
        </div>
      </ion-list>
    </div>
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://pace.uum.edu.my/images/Icons/smart-applications-icon-1.png" style="box-shadow: none;">
        <h2 class="inst-Title">Admission</h2>
      </div>
      <div class="inst-ContentImg">
        <p class="p-text">
          A student should register in rubycampus , student will be short listed depending on the Percentage , acitivits and etc..
        </p>
      </div>
      <div class="">
        <button class="button button-small button-balanced button-clear  icon-right flat  icon ion-ios-arrow-forward pull-right text-white btnStyle" ui-sref="AdmissionLogin"> Apply Now</button>
      </div>
    </div>
  </ion-content>
</ion-view>
