<ion-view class="">
  <div class="bar header-bar bar-assertive-900">
    <div class="buttons-left">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-android-arrow-back" ng-click="HistoryBack()"></button>
      </span>    
    </div>
    <div class="h1 title light title-center">Login</div>
  </div>
  <ion-content class="has-header">
    <style type="text/css">
      .form-Card{
        margin-left : 18px;
        margin-right: 18px;
        box-shadow: none;
      }
      .item-floating-label{
        padding-left: 0px !important;
      }
      .labeltest{
        border: none !important;
      }
      input.floatinput {
        border-bottom: 1px solid #dfdfdf !important;
        font-size: 16px !important;
        padding-right: 0px !important;
      }
      .input-label{
        color:#1e88e5;
        font-size: 16px;
      }
      input.floatinput:focus {
        border-bottom: 2px solid #1e88e5 !important;
      }
      .passwordicons{
        right: 0px!important; margin-top: 11px !important;font-size: 25px !important;
      }
      .icon-color{
        color: #1e88e5;
      }
      .instituteLogo{
        width: 85px;height: 85px;margin:auto;display: block;box-shadow: none !important;
      }
      .ForgotPass{
        float: right; margin-top: 5px;font-size: 13px;color:#1e88e5;margin-right: 4px 
      }
      .loginwith{
        text-align: center;color: #666;font-size: 13px;
      }
      .Socailbutton{
        height: 40px;
        font-size: 16px;
      }
      .loginBtn{
        height: 40px;
        font-size: 16px;
      }
      .buttonAlign{
        margin-right: 18px;
      }
      .button-calm{
        background-color: #3B5998 !important;
      }
      .button-assertive{
        background-color: #DB4437 !important;
      }
      .button{
        box-shadow: none;
        text-transform: capitalize;
      }
      .button-bar{
        box-shadow: none;
      }
      .button.button-positive.button-outline {
        background: transparent none repeat scroll 0 0 !important;
        border-color: #dfdfdf;
        color: #387ef5 !important;
      }
    </style>
    <div class="list card form-Card">
      <div class="item" style="text-align: center;">
        <img align="center" class="instituteLogo" src="http://images.clipartpanda.com/modern-american-history-collage-Austin_College_Logo.png">
      </div>
      <div class="item item-input item-floating-label labeltest" style="margin-top:-10px" >
        <span class="input-label">Email / Phone</span>
        <input class="floatinput" type="text" placeholder="Email or Phone" highlight-color="balanced">
      </div>
      <div class="item item-input FloatLabel item-floating-label labeltest item-icon-right" >
        <i class="icon ion-ios-eye passwordicons" ng-click="showpass()" ng-if=notactiveicons></i>
        <i class="icon ion-ios-eye passwordicons icon-color" ng-click="hidepass()" ng-if=activeicons></i>
        <span class="input-label ">Password</span>
        <input class="floatinput" type="{{inputType}}" placeholder="Password">
      </div>
      <p class="ForgotPass">Forgot Password ?</p>
      <br>
      <br>
      <button ui-sref="CourseSelection" class="button button-block button-small button-assertive-900 ink loginBtn" data-ink-opacity=".2" data-ink-color="#ffffff"><i class="ion-android-lock"></i> &nbsp;Login</button>
      <br>
      <p class="loginwith">Or Login with</p>
      <br>
      <div class="button-bar">
        <button class="button button-small button-border button-calm Socailbutton buttonAlign ink" data-ink-opacity=".2" data-ink-color="#ffffff">
        <i class="ion-social-facebook"></i> &nbsp;Facebook</button>
        <button class="button button-small button-border button-assertive Socailbutton ink" data-ink-opacity=".2" data-ink-color="#ffffff">
        <i class="ion-social-google"></i> &nbsp;Google</button>
      </div>
      <br>
      <button class="button button-outline button-positive button-small button-block ink loginBtn" data-ink-opacity=".1" data-ink-color="#dddddd" ui-sref="AdmissionRegister">Create New Account</button>
    </div>
  </ion-content>
</ion-view>