<ion-view class="">
  <div class="bar bar-header bar-assertive-900">
    <div class="buttons-left">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-android-arrow-back" ng-click="HistoryBack()"></button>
      </span>    
    </div>
    <div class="h1 title light title-center">Application</div>
  </div>
  <ion-content class="has-header">
    <style type="text/css">
      .form-Card{
        margin-left : 18px;
        margin-right: 18px;
        box-shadow: none;
      }
      .item-floating-label{
        padding-left: 0px !important;
      }
      .labeltest{
        border: none !important;
      }
      .SelectpickerLabel{
        border-bottom: 1px solid #dfdfdf !important;
        padding-left: 0px;
      }
      .select-label{
        color: #D1D1D1 !important;
        font-size: 15px !important;
      }
      input.floatinput {
        border-bottom: 1px solid #dfdfdf !important;
      }
      .input-label{
        color:#1e88e5;
        font-size: 14px;
      }
      input.floatinput:focus {
        border-bottom: 2px solid #1e88e5 !important;
      }

      .item.item-avatar {
        box-shadow: none !important;
        min-height: 62px !important;
        padding-left: 65px !important;
      }
      /*form btn*/
      .Nextbtn{
        width: 75px;
      }
      .barbtn{
        min-width: 75px !important;
        text-transform: capitalize!important;
      }
    </style>
    <div class="list">
      <div class="item item-avatar">
      <!-- <img src="">
      <h2>Course selection</h2> -->
      </div>
    </div>
    <div class="list card form-Card">
      <div class="item item-input item-select SelectpickerLabel">
        <div class="input-label select-label">Course Prefernce 1</div>
        <select>
            <option value="ECE">Electronics and Communication Engneering</option>
            <option selected="" value="EEE">Electrical and Electronics Engneering</option>
            <option value="CSE">Computer Science Engneering</option>
            <option value="IT">Information Technology Engineering</option>
            <option value="MECH">Mechnical Engneering</option>
        </select>
      </div>
      <br>
      <div class="item item-input item-select SelectpickerLabel">
        <div class="input-label select-label">Course Prefernce 2</div>
        <select>
            <option value="ECE">Electronics and Communication Engneering</option>
            <option selected="" value="EEE">Electrical and Electronics Engneering</option>
            <option value="CSE">Computer Science Engneering</option>
            <option value="IT">Information Technology Engineering</option>
            <option value="MECH">Mechnical Engneering</option>
        </select>
      </div>
      <p></p>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-dark">
    <div class="h1 title">1 of 5</div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons Nextbtn">
        <button class="button button-clear barbtn">Next <i class="ion-chevron-right"></i></button>
      </span>
    </div>
  </div>
</ion-view>