<ion-view style="background-color: #fffff">
  <ion-content scroll='false' style="background-color: #fffff">
    <style type="text/css">
/*      .inst-CustomContentHeight{
        height: 495px;
      }*/
      .ContactText{
        color: #666;
      }
    </style>
    <BR/>
    <div class="list">
      <a class="item item-icon-left" href="geo:11.9342164,79.8055147">
      <!-- <a class="item item-icon-left" href="http://maps.google.com/maps?q=loc:" + lat + "," + lng + " (" + mTitle + ")"> -->
        <span class="ContactText">
          <i class="icon ion-location" style="margin-top:-28px"></i>
          No: 27, Bajanai Madqm Street<br>
          Ellaipillaichavady<br/>
          Puducherry<br/>
          zip: 605005
        </span>
      </a>
      <a class="item item-icon-left" href="tel: +91 413 654 6547">
        <span class="ContactText">
          <i class="icon ion-android-call"></i>
          +91 413 654 6547 
        </span>
      </a>
      <a class="item item-icon-left" href="mailto:info@rubycampus.com">
        <span class="ContactText">
          <i class="icon ion-email"></i> 
          info@rubycampus.com 
        </span>     
      </a>
      <a class="item item-icon-left" href="http://www.cloudlogic.tech" ng-click="loading()">
        <span class="ContactText">
          <i class="icon ion-ios-world"></i>
          www.rubycampus.com 
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
