<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
  <!-- <ion-content style="background: url(https://image.freepik.com/free-photo/open-notebook-with-color-pencils_1101-28.jpg) center; background-size: cover;"> -->
    <style>
      h1 {
        color: #fff;
        text-shadow: 0 1px 0px #000;
        font-size: 25px;
      }

      .title-bordered {
        border-top: solid 2px #bbb;
        padding-top: 30px;
      }

      p {
        color: #555;
        margin: 0 0 25px;
      }

      .scroll {
        height: 100%;
      }

      .app-icon {
        background-color: #fff;
        background: url('img/crown.jpg') center;
        background-size: cover;
        border-radius: 50%;
        height: 125px;
        margin: 0 auto;
        width: 125px;
      }
      .social-login {
        position: fixed;
        bottom: 0;
      }
/*    .input-label{
        color: black !important;
      }
      input{
        background-color: transparent!important;
        bottom: 0;
        color: #fff;
        letter-spacing: 0rem !important;
        padding: 20px 10px;
        position: relative;
        z-index: 1;
      }*/
    </style>
    <div class="hero no-header flat">
      <div class="content">
          <div class="app-icon"></div>
          <h1>Ruby Campus</h1>
      </div>
    </div>
    <div class="list">
      <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
      <ion-md-input placeholder="Password" highlight-color="balanced" type="password"></ion-md-input>
    </div>
    <div class="padding">
      <!-- <button ui-sref="app.Dashboard" class="button button-full button-assertive ink">Login</button> -->
      <button ui-sref="institute" class="button button-full button-assertive ink">Login</button>
    </div>
    <div class="button-bar social-login">
      <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
      <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
      <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
    </div>
  </ion-content>
</ion-view>
