<ion-view class="">
  <div class="bar bar-header bar-assertive-900">
    <div class="h1 title light title-center">Parent or Gaurdian</div>
  </div>
  <ion-content class="has-header" overflow-scroll="true">
    <style type="text/css">
      .form-Card{
        margin-left : 18px;
        margin-right: 18px;
        box-shadow: none;
      }
      .item-floating-label{
        padding-left: 0px !important;
      }
      .labeltest{
        border: none !important;
      }
      .SelectpickerLabel{
        border-bottom: 1px solid #dfdfdf !important;
        padding-left: 0px;
      }
      .select-label{
        color: #D1D1D1 !important;
        font-size: 16px !important;
      }
      .input-label{
        color:#1e88e5;
        font-size: 16px;
      }
      input.floatinput {
        border-bottom: 1px solid #dfdfdf !important;
        font-size: 16px !important;
      }
      input.floatinput:focus {
        border-bottom: 2px solid #1e88e5 !important;
      }

      .item.item-avatar {
        box-shadow: none !important;
        min-height: 62px !important;
        padding-left: 65px !important;
      }
      /*form btn*/
      .Nextbtn{
        width: 80px;
      }
      .icon-next{
        font-size: 16px !important;
      }
      .barbtn{
        min-width: 90px !important;
        font-size: 18px !important;
        text-transform: capitalize!important;
      }
      .bar-title{
        font-size: 17px !important;
        font-weight: 300 !important;
      }
      .heading{
        margin-bottom: 0px ;
      }
    </style>
    <div class="list card form-Card">
    <br>
    <h4 class="heading">Father Details</h4>
    <div class="item item-input item-floating-label labeltest">
      <span class="input-label">Name</span>
      <input class="floatinput" type="text" placeholder="Name">
    </div>
    <div class="item item-input item-floating-label labeltest">
      <span class="input-label">Occupation</span>
      <input class="floatinput" type="text" placeholder="Occupation">
    </div>
    <div class="item item-input item-floating-label labeltest">
      <span class="input-label">Income</span>
      <input class="floatinput" type="text" placeholder="Income">
    </div>
    <div class="item item-input item-floating-label labeltest">
      <span class="input-label">Phone Number</span>
      <input class="floatinput" type="number" placeholder="Phone Number">
    </div>
    <br>
    <h4 class="heading">Mother Details</h4>
    <div class="item item-input item-floating-label labeltest">
      <span class="input-label">Name</span>
      <input class="floatinput" type="text" placeholder="Name">
    </div>
    <div class="item item-input item-floating-label labeltest">
      <span class="input-label">Occupation</span>
      <input class="floatinput" type="text" placeholder="Occupation">
    </div>
    <div class="item item-input item-floating-label labeltest">
      <span class="input-label">Income</span>
      <input class="floatinput" type="text" placeholder="Income">
    </div>
    <div class="item item-input item-floating-label labeltest">
      <span class="input-label">Phone Number</span>
      <input class="floatinput" type="number" placeholder="Phone Number">
    </div>
    <br>
    <br>

    </div>
  </ion-content>
  <div class="bar bar-footer bar-dark">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons ">
        <button class="button button-clear" ui-sref="EducationDetail"><i class="ion-chevron-left icon-next"></i></button>
      </span>
    </div>
    <div class="h1 title bar-title">5 of 5</div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons Nextbtn">
        <button class="button button-clear barbtn" ui-sref="institute.about">Finish</button>
      </span>
    </div>
  </div>
</ion-view>