<ion-view class="">
  <div class="bar bar-header bar-assertive-900">
    <div class="h1 title light title-center">Personal Details</div>
  </div>
  <ion-content class="has-header" overflow-scroll="true">
    <style type="text/css">
      .form-Card{
        margin-left : 18px;
        margin-right: 18px;
        box-shadow: none;
      }
      .item-floating-label{
        padding-left: 0px !important;
      }
      .labeltest{
        border: none !important;
      }
      .SelectpickerLabel{
        /*border-bottom: 1px solid #dfdfdf !important;*/
        padding-left: 0px;
      }
      .select-label{
        color: #D1D1D1 !important;
        font-size: 16px !important;
      }
      .input-label{
        color:#1e88e5;
        font-size: 16px;
      }
      input.floatinput {
        border-bottom: 1px solid #dfdfdf !important;
        font-size: 16px !important;
      }      
      input.floatinput:focus {
        border-bottom: 2px solid #1e88e5 !important;
      }

      .item.item-avatar {
        box-shadow: none !important;
        min-height: 62px !important;
        padding-left: 65px !important;
      }
      /*form btn*/
      .Nextbtn{
        width: 80px;
      }
      .icon-next{
        font-size: 16px !important;
      }
      .barbtn{
        min-width: 90px !important;
        font-size: 18px !important;
        text-transform: capitalize!important;
      }
      .bar-title{
        font-size: 17px !important;
        font-weight: 300 !important;
      }
      .selectPicker{
        min-width: 100% !important;
        padding-left: 0px !important;
        padding-right: 29px !important;
        direction: ltr !important;
        height: 48px;
        border-bottom: 1px solid #dfdfdf !important;
      }
      .selectPicker:focus{
       border-bottom: 2px solid #1e88e5 !important; 
      }

    </style>
    <div class="list card form-Card">
      <div class="item item-input item-floating-label labeltest">
        <span class="input-label">First Name</span>
        <input class="floatinput" type="text" placeholder="First Name">
      </div>
      <div class="item item-input item-floating-label labeltest">
        <span class="input-label">Last Name</span>
        <input class="floatinput" type="text" placeholder="Last Name">
      </div>
      <div class="item item-input item-floating-label labeltest">
        <span class="input-label">Date of Birth</span>
        <input class="floatinput" type="text" ng-model="dateValue" date="" ion-datetime-picker="" placeholder="Date of Birth">
      </div>
      <br>
      <div class="item item-input item-select SelectpickerLabel">
        <div class="input-label select-label">Gender</div>
        <select class="selectPicker">
            <option value="" selected="" disabled="">Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="others">Others</option>
        </select>
      </div>
      <br>
      <div class="item item-input item-select SelectpickerLabel">
        <div class="input-label select-label">Nationality</div>
        <select class="selectPicker">
            <option value="" selected="" disabled="">Select</option>
            <option value="indian">Indian</option>
            <option value="others">Others</option>
        </select>
      </div>
      <p></p>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-dark">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-clear" ui-sref="CourseSelection"><i class="ion-chevron-left icon-next"></i></button>
      </span>
    </div>
    <div class="h1 title bar-title">2 of 5</div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons Nextbtn">
        <button class="button button-clear barbtn" ui-sref="ContactDetail">Next &nbsp; <i class="ion-chevron-right icon-next"></i> &nbsp;&nbsp;</button>
      </span>
    </div>
  </div>
</ion-view>