
<ion-view>
  
    <ion-header-bar  class="bar-assertive-900" align-title="center">
        <div class="buttons buttons-left header-item" ng-click="goback();" >
            <span class="left-buttons">
                <button menu-toggle="left" class="button button-icon button-clear ion-android-arrow-back">
                </button>
            </span>
        </div>
        <h1 class="title headlist"> Exams </h1>
          
    </ion-header-bar>
   
    <style>
        .bar .title.headlist {
            margin: 0 0px;
        }
        
        h1{
            color: #fff;
        }
       
        .list a.item {
            border-bottom: 1px solid #f4f4f4;
        }
        .item .badge + .badge {
            margin-right: 63px;
        }
       
        .contentcls {
            padding-top: 11px;
        }
        .list .item.hgtcls{
            height: 65px;
        }
        .item .badge.widcls{
            top: 21px;
            width: 40px;
            
        }
        .badge {
            border-radius: 11px;
            padding: 7px 13px;
            color: #fff;
        }
        .item .badge.topcls {
            top: 21px;
            color: #616161;
            font-weight: 500 !important;

        }
        .item .badge.widcls.A{
            background-color: #4CAF50;
        }
        .item .badge.widcls.B{
            background-color:   #3f51b5;
        }
        .item .badge.widcls.C{
            background-color:  #0091ea;
        }
        .item .badge.widcls.D{
            background-color:  #006064;
        }
        .item .badge.widcls.E{
            background-color:  #f44336;
        }
       /* .item{
            border-color: #f4f4f4;
        }
        */
       /* .epc_chart_text {
            left: 146px;
            
            top: 38px;
        }*/
       /* p {
            margin: -87px 0 85px;
        }*/
    </style>
    <ion-content scroll="true">
       <!--  <div id="c3_chart_donut_exam" class="c3chart"></div> -->
        <table style="width: 100%;">
              <tr>
                 <td style="text-align: center; vertical-align: middle;">
                    
                    <div class="row responsive-sm">
                        <div class="col">
                          <div>
                            <div class="epc_chart badge" easypiechart options="epc_orders" percent="90">
                            </div>
                          <div style="margin:-104px 0 69px;">
                          Your Score
                          <br/>
                          90%
                            </div>
                      </div>
                    </span>
                </div>
                 </td>
              </tr>
        </table>
            <div class="list">
                <a class="item hgtcls" ng-click="marklist()">
                    <div style="float:left;padding-right: 10px; ">
                        <ionic-letter-avatar data="QE" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                    <div class="contentcls">
                        <h3 class="hclas">Quarterly Exam</h3>
                        <span class="badge widcls A">A</span>
                        <span class="badge topcls">90 %</span>
                    </div>
                </a>
                 <a class="item hgtcls" ng-click="marklist()">
                    <div style="float:left;padding-right: 10px;">
                        <ionic-letter-avatar data="HE" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                    <div class="contentcls">
                        <h3 class="hclas">Halfly Exam</h3>
                        <span class="badge widcls E">E</span>
                        <span class="badge topcls">40 %</span>
                    </div>
                </a>
                 <a class="item hgtcls" ng-click="marklist()">
                    <div style="float:left;padding-right: 10px;">
                        <ionic-letter-avatar data="ME" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                    <div class="contentcls">
                        <h3 class="hclas">Modal Exam</h3>
                        <span class="badge widcls D">D</span>
                        <span class="badge topcls">60 %</span>
                    </div>
                </a>
                 <a class="item hgtcls" ng-click="marklist()">
                    <div style="float:left;padding-right: 10px;">
                        <ionic-letter-avatar data="PE" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                    <div class="contentcls">
                        <h3 class="hclas">Practical Exam</h3>
                        <span class="badge widcls C">C</span>
                        <span class="badge topcls">75 %</span>
                    </div>
                </a>
                 <a class="item hgtcls" ng-click="marklist()">
                    <div style="float:left;padding-right: 10px;">
                        <ionic-letter-avatar data="AE" shape="round" charcount="2"></ionic-letter-avatar>
                    </div>
                    <div class="contentcls">
                        <h3 class="hclas">Annual Exam</h3>
                        <span class="badge widcls B">B</span>
                        <span class="badge topcls">88 %</span>
                    </div>
                </a>
               
            </div>
                <!-- </div> -->
             
           <!--  </div> -->
            
           <!--  <a class="item item-icon-left">
                <i class="icon ion-compose"></i> Halfly Exam
                <span class="badge badge-assertive">40 %</span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-compose"></i> Modal Exam
                <span class="badge badge-balanced ">90 %</span>
            </a> -->
        </div>
    </ion-content>
    
</ion-view>
