<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content edge-drag-threshold="true">
    <ion-nav-bar class="bar-assertive-900">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="expanded bar-stable list">
      <a class="item item-thumbnail-left">
        <img class="avatar spin fade ProfilePic" src="img/logo.png">
        <h2 class="ProfileName">Manikandan</h2>
        <p class="ProfileDept">Information Technology</p>
      </a>
    </ion-header-bar>
    <ion-content class="has-expanded-header" on-drag="onDrag()">
      <div class="list">
        <a class="item " menu-close ui-sref="app.Dashboard" >
          <i class="ion-home icon-size"></i>&nbsp;&nbsp; Home
        </a>
        <a class="item" menu-close ui-sref="app.Profile">
          <i class="ion-android-contact icon-size"></i>&nbsp;&nbsp; Profile
        </a>
        <a class="item" menu-close ui-sref="app.Profile.Additional">
          <i class="ion-ios-people icon-size"></i>&nbsp;&nbsp; People
        </a>
        <a class="item" menu-close ui-sref="Calendar">
          <i class="ion-android-calendar icon-size"></i>&nbsp;&nbsp; News & Events
        </a>
        <a class="item">
          <i class="ion-email icon-size"></i>&nbsp;&nbsp; Messages
        </a>
        <a class="item">
          <i class="ion-social-usd icon-size"></i>&nbsp;&nbsp; Payments
        </a>
        <a class="item" menu-close ui-sref="selectCourseView">
          <i class="ion-calendar icon-size"></i>&nbsp;&nbsp; Attendance
        </a>
        <a class="item" menu-close ui-sref="empAttndPertgView">
          <i class="ion-calendar icon-size"></i>&nbsp;&nbsp; Attendance Percentage
        </a>
        <a class="item">
          <i class="ion-ios-grid-view icon-size"></i>&nbsp;&nbsp; Timetable
        </a>
        <a class="item">
          <i class="ion-clipboard icon-size"></i>&nbsp;&nbsp; Examination
        </a>
        <a class="item">
          <i class="ion-compose icon-size"></i>&nbsp;&nbsp; Assignment
        </a>
        <a class="item">
          <i class="ion-ios-book icon-size"></i>&nbsp;&nbsp; Repository
        </a>
        <a class="item">
          <i class="ion-ios-home icon-size"></i>&nbsp;&nbsp; Institution
        </a>
        <a class="item">
          <i class="ion-android-notifications icon-size"></i>&nbsp;&nbsp; Notifications
        </a>
        <a class="item">
          <i class="ion-gear-b icon-size"></i>&nbsp;&nbsp; Settings
        </a>
        <a class="item">
          <i class="ion-log-out icon-size"></i>&nbsp;&nbsp; Signout
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
