<ion-view view-title="Profile" class="pane" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, -3px, 0px) scale(1);">
        <div style="background-image: url('img/profile-bg.jpg');" class="hero ">
            <div class="content">
                <div style="background-image: url('img/daenerys.jpg');" class="avatar"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a class="tab-item" ui-sref="app.activity" href="#/app/activity">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a class="tab-item" ui-sref="app.friends" href="#/app/friends">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a class="tab-item" ui-sref="app.gallery" href="#/app/gallery">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a class="item item-avatar item-icon-right in in done done" ui-sref="app.friends" href="#/app/friends" style="transition-delay: 0.33s;">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a class="item item-avatar item-icon-right in in done" ui-sref="app.friends" href="#/app/friends" style="transition-delay: 0.35s;">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a class="item item-avatar item-icon-right in in done" ui-sref="app.friends" href="#/app/friends" style="transition-delay: 0.38s;">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 3px, 0px) scaleY(1); height: 479px;"></div></div></ion-content>
</ion-view>