<ion-view style="background-color: #fffff">
  <ion-content scroll='false' style="background-color: #fffff">
    <style type="text/css">
      .scroll-content{
        margin-top: -45px;
      }
/*      .inst-CustomContentHeight{
        height: 495px;
      }*/
      .ContactText{
        color: #666;
      }
    </style>
    <BR/>
    <div class="list">
      <a class="item item-icon-left">
        <Span class="ContactText">
          <i class="icon ion-location" style="margin-top:-28px"></i>
          No: 27, Bajanai Madqm Street<br>
          Ellaipillaichavady<br/>
          Puducherry<br/>
          zip: 605005
        </Span>
      </a>
      <a class="item item-icon-left">
        <Span class="ContactText">
          <i class="icon ion-android-call"></i>
          +91 413 654 6547 
        </Span>
      </a>
      <a class="item item-icon-left">
        <Span class="ContactText">
          <i class="icon ion-email"></i> 
          info@rubycampus.com 
        </Span>     
      </a>
      <a class="item item-icon-left">
        <Span class="ContactText">
          <i class="icon ion-ios-world"></i>
          www.rubycampus.com 
        </Span>
      </a>
    </div>
  </ion-content>
</ion-view>
