<ion-view >
    <!-- <ion-content overflow-scroll=false scroll='false'> -->
  <ion-content scroll='false' style="background-color: #DFDFDF">
    <style type="text/css">
      .scroll-content{
        margin-top: -45px ;
      }
      .item.item-avatar {
        box-shadow: none !important;
        min-height: 62px !important;
        padding-left: 65px !important;
      }
      .inst-Title{
        padding-top: 6px ;
      }
      .inst-ContentImg{
        overflow: visible;
        white-space: normal;
        padding: 0px 20px 0px 20px;
      }
      .p-text{
        color: #666;
        text-align: justify;
      }
      .QuickMenuTD-Top {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: 0px;
        padding-top: 10px;
        text-align: center;
        width: 33%;
        opacity: 1 ;
      }
/*      .inst-CustomContentHeight{
        height: 750px ;
      }*/
      .main-bg-color{
        background-color: #DFDFDF;
      }
      .btnStyle{
        font-size: 12px;
        margin-right: -9px; 
      }
      .GalleryImg{
        width: 100%;
        height: 100%;
        box-shadow: none !important;
      }
    </style>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/icons/Aboutus.svg" style="box-shadow: none;">
        <h2 class="inst-Title">About Us</h2>
      </div>
      <div class="inst-ContentImg">
        <p class="p-text">
          Ruby Campus was established with the aim of providing quality higher education  on par with international standards. It persistently seeks and adopts innovative
        </p>
      </div>
      <button class="button button-small button-clear button-dark icon-right flat  icon ion-ios-arrow-forward pull-right text-white btnStyle"> More</button>
    </div>
    <div class="list card">
      <div class="item DividerBorder">
        <h3>Quick Menus</h3>
      </div>
      <table class="tab" style="width:100%">
        <tbody>
          <tr>
            <td class="QuickMenuTD-Top tab-item">
              <center><img src="img/icons/Coures.svg" width="40px" height="38px" 
              style="box-shadow: none;">
              <p style="color: #444444;font-size: 14px">Coures</p>
              </center>
            </td>
            <td class="QuickMenuTD-Top tab-item">
              <center><img src='img/icons/Admission.svg' width="35px" height="35px" 
              style="box-shadow: none;">
              </center>
              <p style="color: #444444;font-size: 14px">Admission</p>
            </td>
            <td class="QuickMenuTD-Top  tab-item">
              <center><img src='img/icons/Career.svg' width="40px" height="40px" 
              style="box-shadow: none;">
              </center>
              <p style="color: #444444;font-size: 14px">Career</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/icons/event.svg" style="box-shadow: none;">
        <h2 class="inst-Title">News & Events</h2>
      </div>
      <div class="inst-ContentImg">
        <div class="p-text">
          Events are currently being scheduled and will be posted shortly.
        </div>
      </div>
      <button class="button button-small button-clear button-dark icon-right flat  icon ion-ios-arrow-forward pull-right text-white btnStyle"> More</button>
    </div>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/icons/Gallery.svg" style="box-shadow: none;">
        <h2 class="inst-Title">Gallery</h2>
      </div>
      <div class="inst-ContentImg">
        <div class="row">
          <div class="col col-25">
            <img src="img/Gallery/1.jpg" class="GalleryImg">
          </div>
          <div class="col col-25">
            <img src="img/Gallery/2.jpg" class="GalleryImg">
          </div>
          <div class="col col-25">
            <img src="img/Gallery/3.jpg" class="GalleryImg">
          </div>
          <div class="col col-25">
            <img src="img/Gallery/4.jpg" class="GalleryImg">
          </div>
<!--           <div class="col col-25">
            <img src="img/Gallery/5.png" class="GalleryImg">
          </div> -->
        </div>
      </div>
      <button class="button button-small button-clear button-dark icon-right flat  icon ion-ios-arrow-forward pull-right text-white btnStyle"> More</button>
    </div>
  </ion-content>
</ion-view>
